
{% extends "base.html" %}

{% block content %}
<h2>{{ error }}{{ likes }}<h2>
<div class="main-title"></div>

<div class="login-area">
  {% if user %}
    {{user.name}} (<a class="login-link" href="/logout">logout</a>)
  {% else %}
    <a class="login-link" href="/login">login</a>

    <a class="login-link" href="/signup">signup</a>
  {% endif %}
</div>

<h3><a href = "/blog/newpost">New Post</a></h3>
<h5><br><br></h5>
  {% for p in posts %}
    {{ p.render() | safe }}

  {% endfor %}
{% endblock %}
