{% extends "base.html" %}

{% block content %}

  <h2 >Signup:</h2>
    <form method="post">
      <br>
      Username:<br>
      <input type="text" name="username"><br>
      <br><br>
      Password:<br>
      <input type="password" name="password">
      <br><br><br>
      Repeat Password:<br>
      <input type="password" name="verify">
      <br><br>
      <input class="error" type="hidden">
      {{error_verify}}
      <br>
      Email (optional):<br>
      <input type="text" name="email">
      <br><br><br>
      <input type="submit" value="submit">
    </form>

  {% endblock %}
